.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 16px;
}

.headerContainer a {
  text-decoration: none;
  color: black;
}

.title {
  margin: 10px 0 0;
}

.menuHamburgerButton {
  background-color: unset;
  border: none;
  font-size: 6rem;
  line-height: 3rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: orange;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
}

.menuCloseButton {
  background-color: unset;
  border: none;
  font-weight: 500;
  font-size: 3.8rem;
  margin-right: 1.5rem;
  margin-bottom: 2.5rem;
}

.menu a {
  margin: 1rem 2.1rem 1rem 0;
  font-size: 2.5rem;
}

.menu a:hover {
  text-decoration: underline;
}

/*
@media (min-width: 1024px) {
  .headerContainer {
    width: 70%;
  }
}
*/
